:root{
    --primary-color: #333;
    --secondary-color: #f8f8f8;
    --accent-color: #e0e0e0;
    --text-color: #666;
}

/* Reset some default styles */ 
body{
    display: grid;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--text-color);
}

a{
    color: var(--primary-color);
    text-decoration: none;
}

h1, h2, h3{
    color: var(--primary-color);
}

p{
    line-height: 1.6;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    margin-bottom: 10px;
    padding: 3px;
}
/*end of reset styles*/

.container{
    max-width:1200px;
    margin:0 auto;
    padding:0 20px;
}
/*header*/
header{
    background-color: var(--secondary-color);
    padding: 20px;
}
nav{
    background-color: var(--primary-color);
}

header ul{
    display:flex;
    justify-content:center;
    gap:30px;
    margin:0;
}
header nav a{
    color: white;
}
header nav a:hover{
    color: #66b3ff;
}

/*end of header*/

/*main*/
main{
    display:flex;
    flex-direction:column;
    gap:20px;
}
section{
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.home {
    background-color: var(--secondary-color);
    padding: 20px;
}
.home .btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
}
.home .btn:hover{
    background-color: #66b3ff;
}
.home p{
    color: var(--text-color);
}

.skiedu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.panel{
    background-color: var(--secondary-color);
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.skills .skills-category{
    font-weight: bold;
}
.skills ul li{
    color: var(--text-color);
    margin-bottom: 10px;
}
.education ul{
    padding: 0;
}
.education ul li{
    color: var(--text-color);
    margin-bottom: 10px;
}
/*end of main*/

/*footer*/
footer{
    background-color: var(--secondary-color);
    padding: 20px;
}
/*end of footer*/